header {
    background-color: var(--dark-blue);
}

header a {
    text-decoration: none;
    color: var(--white);
    font-weight: 400;
}

header a:hover {
    color: var(--matte-black);
    font-weight: 500;
}

@media (max-width: 991px) {
    header svg {
        color: var(--white);
        font-size: 4rem;
    }
}